@model UserDetailViewModel

@{
    ViewData["title"] = "Profile page";
    var userPhoto = "~/images";
    userPhoto += string.IsNullOrEmpty(Model.Photo) ? "/user-avatar.png" : Model.Photo;
}


<div class="myContainer" id="user-profile">

    <h1>@Model.Name's Profile</h1>
    <div class="myFlex">
        <div class="profile-pix">
            <a asp-action="ChangeProfilePix" asp-controller="User" asp-route-userId="@Model.Id">
                <img src="@userPhoto" asp-append-version="true" />
            </a>
        </div>
        <div class="user-info">
            <div><strong>ID:</strong> @Model.Id</div>
            <div><strong>Name:</strong> @Model.Name</div>
            <div><strong>Email:</strong> @Model.Email</div>
            <div><strong>Role:</strong> @Model.Role</div>
            <div><strong>Password:</strong>
                <a asp-action="EditPassword" asp-controller="User">Edit</a>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="EditProfile" asp-controller="User"
           asp-route-userId="@Model.Id" class="btn btn-primary">
            EDIT USER
        </a>
    </div>

</div>